/* Geral */
body {
  padding: 0;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

/* HEADER */
.header-bg {
  background-image: url("./assets/home.png");
  min-height: 122vh;
  max-width: 100vw;
  background-repeat: no-repeat;
  background-size: 100% !important;
}

.logo {
  max-width: 20%;
}

.logotipo-box {
  padding-left: 3%;
}

.logo:hover {
  transform: scale(1.05);
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.header-text {
  padding-top: 3%;
  padding-bottom: 5%;
  max-width: 34%;
  margin-left: 16%;
}

.header-text h1 {
  font-size: 50px;
  color: #ffffff;
}

.header-text p {
  font-size: 19px;
  color: #ffffff;
}

.header-text b {
  font-size: 22px;
  font-weight: 600;
  color: #ffffff;
}

.quero-conhecer-btn {
  display: inline-block;
  margin-left: 21%;
  margin-top: 5%;
  font-size: 25px;
  color: #4d4d4d;
  font-weight: 600;
  border-radius: 3.25rem;
  padding: 1.3rem 2rem;
  background-color: #f8f47c;
  border-color: #f8f47c;
  -webkit-box-shadow: 11px 11px 18px 5px rgba(0, 0, 0, 0.28);
  box-shadow: 11px 11px 18px 5px rgba(0, 0, 0, 0.28);
}

.quero-conhecer-btn:hover {
  transform: scale(1.05);
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

@media only screen and (max-width: 1024px) {
  .header-bg {
    min-height: 49vh;
  }

  .header-text h1 {
    font-size: 5vw;
  }

  .header-text {
    max-width: 52%;
    margin-left: 9%;
    padding-top: 2%;
  }

  .header-text p {
    font-size: 2vw;
  }

  .quero-conhecer-btn {
    margin-left: 26%;
    margin-top: 5%;
    font-size: 1.9vw;
    padding: 1rem 1.3rem;
  }
}

@media only screen and (max-width: 768px) {
  .logo {
    max-width: 40%;
  }

  .logotipo-box {
    padding-top: 2%;
  }

  .header-text h1 {
    font-size: 7.688vw;
  }

  .header-bg {
    background-image: url("./assets/mobile-home.png");
    min-height: 120vh;
    min-width: 100vw !important;
  }

  .header-text {
    max-width: 100%;
    padding-left: 3%;
    padding-right: 3%;
  }

  .header-text h1 {
    margin-top: 5%;
    line-height: 1;
  }

  .header-text p {
    font-size: 4vw;
    max-width: 90%;
  }

  .header-text b {
    font-size: 4vw;
  }

  .quero-conhecer-btn {
    font-size: 2.9vw;
  }
}

@media only screen and (max-width: 425px) {
  .logo {
    max-width: 40%;
  }

  .logotipo-box {
    padding-top: 2%;
  }

  .header-text h1 {
    font-size: 7.688vw;
  }

  .header-bg {
    background-image: url("./assets/mobile-home.png");
    min-height: 61vh;
    min-width: 100vw !important;
  }

  .header-text {
    max-width: 100%;
    padding-left: 3%;
    padding-right: 3%;
  }

  .header-text h1 {
    margin-top: 3%;
    line-height: 1.35;
  }

  .header-text p {
    font-size: 4vw;
    max-width: 90%;
  }

  .header-text b {
    font-size: 4vw;
  }
}

@media only screen and (max-width: 375px) {
  .header-bg {
    min-height: 47vh;
  }
}

/* Metodologias */

.metodologia-content {
  display: flex;
  justify-content: space-between;
  gap: 2%;
  place-content: center;
}

.metodologia-section {
  padding-right: 3%;
  padding-left: 3%;
  animation: appearFromRight 3s normal;
}

@keyframes appearFromRight {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.metodologia-section p {
  color: #737373;
  font-size: 18px;
}

.metodologia-section h2 {
  text-align: center;
  padding-bottom: 1%;
  color: #4d4d4d;
  font-weight: bold;
}

.metodologia-section img:hover {
  transform: scale(1.05);
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.box-metodologia h3 {
  padding-top: 1%;
  color: #4d4d4d;
}

.box-metodologia {
  text-align: center;
  max-width: 23%;
}

.orgulho-content {
  display: flex;
  padding-right: 15%;
  padding-left: 15%;
}

.orgulho-text {
  margin-left: 4%;
}

.title-timeline h2 {
  width: 60%;
  font-size: 1.68vw;
}

@media only screen and (max-width: 790px) {
  .title-timeline {
    display: block;
  }
  .orgulho-content {
    padding-right: 0;
    padding-left: 0;
  }

  .metodologia-content {
    display: block;
  }

  .metodologia-section {
    padding-right: 30px;
    padding-left: 30px;
  }

  .box-metodologia {
    max-width: 100%;
    margin-bottom: 10%;
  }

  .metodologia-section h2 {
    padding-bottom: 5%;
    font-size: 7.267vw;
  }

  .box-metodologia img {
    max-width: 24%;
  }

  .box-metodologia h3 {
    padding-top: 0;
    font-size: 5.14vw;
    color: #4d4d4d;
  }

  .metodologia-section p {
    color: #737373;
    font-size: 4.206vw;
  }

  .orgulho-content {
    display: block;
    text-align: center;
  }

  .box-metodologia-orgulho {
    max-width: 100%;
  }

  .box-metodologia-orgulho h2 {
    display: none !important;
  }

  .box-metodologia-orgulho img {
    max-width: 24% !important;
  }

  .orgulho-text {
    margin-left: 0;
  }

  .orgulho-text h3 {
    padding-top: 0;
    font-size: 5.14vw;
    color: #4d4d4d;
  }
}

/* Timeline */
.title-timeline {
  padding-left: 52%;
  transform: translateY(35%);
  position: absolute;
  font-size: 20px !important;
  font-weight: bold;
  color: #535353;
  max-width: 100%;
}

@media only screen and (min-width: 790px) {
.title-timeline{
  max-width: 23%;
}
}

.wrapper section img {
  width: 100%;
  border-radius: 20px;
}

h2 {
  text-align: start;
  color: #4d4d4d;
  font-weight: bold;
}

.wrapper {
  max-width: 1080px;
  margin: 50px auto;
  padding: 0 20px;
  position: relative;
}
.wrapper .center-line {
  position: absolute;
  height: 100%;
  width: 4px;
  background: #cccccc;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
}
.wrapper .row {
  display: flex;
}
.wrapper .row-1 {
  justify-content: flex-start;
}
.wrapper .row-2 {
  justify-content: flex-end;
}
.wrapper .row section {
  color: #737373;
  font-size: 18px;
  border-radius: 5px;
  width: calc(50% - 40px);
  position: relative;
}
.wrapper .row section::before {
  position: absolute;
  content: "";
  right: -30px;
  height: 4px;
  width: 300px; /* width: calc(50% - 10px); */
  background: #cccccc;
  top: 170px;
  z-index: -1;
}
.row-1 section::before {
  right: -7px;
}
.row-2 section::before {
  left: -40px;
}
.row section .icon,
.center-line .scroll-icon {
  position: absolute;
  background: #cccccc;
  height: 15px;
  width: 15px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #cccccc;
  font-size: 17px;
  box-shadow: 0 0 0 4px #cccccc, inset 0 2px 0 rgba(0, 0, 0, 0.08),
    0 3px 0 4px rgba(0, 0, 0, 0.05);
}
.center-line .scroll-icon {
  bottom: 0px;
  left: 50%;
  font-size: 25px;
  transform: translateX(-50%);
}
.row-1 section .icon {
  top: 165px;
  right: -47px;
}
.row-2 section .icon {
  top: 165px;
  left: -47px;
}
.row section .details,
.row section .bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.row section .details .title {
  font-size: 22px;
  font-weight: 600;
}
.row section p {
  margin: 10px 0 17px 0;
}

@media (max-width: 768px) {
  .wrapper .row {
    margin: 30px 0 3px 60px;
  }
  .wrapper .row section {
    width: 100%;
  }
  .row-1 section::before {
    left: -7px;
  }
  .row-1 section .icon {
    left: -60px;
  }
}

@media only screen and (max-width: 768px) {
  .title-timeline {
    padding-left: 0%;
    transform: translateY(0%);
    position: relative;
    text-align: center !important;
  }

  section img {
    width: 100%;
    border-radius: 0;
  }

  .wrapper {
    padding-left: 0;
    padding-right: 0;
    transform: translateX(-6.5%);
  }

  .wrapper .row section {
    margin-bottom: 20%;
    box-shadow: 7px 7px 5px -4px rgba(0, 0, 0, 0.39);
    -webkit-box-shadow: 7px 7px 5px -4px rgba(0, 0, 0, 0.39);
    -moz-box-shadow: 7px 7px 5px -4px rgba(0, 0, 0, 0.39);
    background-color: #ffffff;
  }

  .row section p {
    padding-left: 3%;
  }

  .row section h2 {
    padding-left: 3%;
  }

  .row-1 section .icon {
    left: 51.9%;
  }

  .row-1 section .icon {
    top: 113%;
    right: -44px;
  }

  .row-2 section .icon {
    left: 51.9%;
  }

  .row-2 section .icon {
    top: 113%;
    right: -44px;
  }

  .wrapper .row section::before {
    position: relative;
  }

  .wrapper .center-line {
    left: 56.5%;
    top: 0;
  }
}

@media only screen and (max-width: 425px) {
  .row-1 section .icon {
    left: 47%;
  }
  .row-2 section .icon {
    left: 47%;
  }
}
